<div>
    <v-row no-gutters>
        <v-col cols="12" md="3" sm="6">
            <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details>
            </v-text-field>
        </v-col>
    </v-row>
    <v-row no-gutters>
        <v-col cols="12" md="11" sm="12">
            <v-data-table v-model="selected" :headers="headers" :items="apps" :items-per-page="5" :search="search"
                item-key="id" :no-data-text="$t('No apps available')" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc">
                <template v-slot:item.actions="{ item }">
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon class="mr-2" @click="startApp(item)" v-bind="attrs" v-on="on"
                                :disabled="item.isAppRunning">
                                {{ $t('mdi-play') }}
                            </v-icon>
                        </template>
                        <span>{{ $t('Start app')}}</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon class="mr-2" @click="stopApp(item)" v-bind="attrs" v-on="on"
                                :disabled="!item.isAppRunning">
                                {{ $t('mdi-stop')}}
                            </v-icon>
                        </template>
                        <span>{{ $t('Stop app')}}</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon @click="deleteItem(item)" v-bind="attrs" v-on="on" :disabled="item.isAppRunning">
                                {{ $t('mdi-delete')}}
                            </v-icon>
                        </template>
                        <span>{{ $t('Delete app')}}</span>
                    </v-tooltip>
                </template>
            </v-data-table>
        </v-col>
    </v-row>
    <confirmation-dialog ref="confirmationDialog"></confirmation-dialog>
</div>